main {
    margin-top: 90px;
    margin-left: 30px;
    margin-right: 30px;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f2f2f2;
    padding: 20px;
}

h1 {
    margin-bottom: 20px;
}

/* Estilo del formulario de registro */
.form-registro {
    max-width: 400px;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

label {
    display: block;
    text-align: left;
    margin-top: 10px;
    font-weight: bold;
}

input[type="text"],
input[type="email"] {
    width: 100%; /* Cambia el ancho al 100% para que se ajuste al contenedor */
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box; /* Añade esto para incluir el relleno en el ancho total */
}

input[type="submit"] {
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 4px;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

