/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    color: #333;
    margin-top: 20px;
}

/* Estilos para el formulario de registro */
.form-registro {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 20px auto;
    max-width: 600px;
}

label {
    display: block;
    margin-top: 10px;
    color: #333;
}

/* Estilos para campos de entrada */
.input-container {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

.input-container label,
.input-container input,
.input-container select {
    width: 48%;
}

.input-container input[type="text"],
.input-container input[type="email"],
.input-container input[type="password"],
.input-container input[type="date"],
.input-container select {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
}

/* Estilos para el botón de envío */
input[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
}

input[type="submit"]:hover {
    background-color: #555;
}
