{% extends '/menu.html' %}
{% block title %}Página de Inicio{% endblock %}
{% block content %}
<!DOCTYPE html>
<html>
<head>
    <title>Resultados de la Búsqueda</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/consulta_cliente.css') }}">
</head>
<body>
    <h1>Resultados de la Búsqueda</h1>
    <table>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <!-- Otros encabezados de columnas aquí -->
            </tr>
        </thead>
        <tbody>
            {% for resultado in resultados %}
                <tr>
                    <td>{{ resultado[1] }}</td>
                    <td>{{ resultado[2] }}</td>
                    <!-- Otros datos del resultado aquí -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
{% endblock %}