
<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
    <script src="https://kit.fontawesome.com/f9f04e7c06.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/menu.css') }}">
    <script>
        document.getElementById("check__menu").addEventListener("change", function() {
            if (this.checked) {
                window.location.href = "/menu"; 
            }
        });
    </script>
</head>
<body>
    <header>
        <div class="container_menu">
            <div class="menu">
                <input type="checkbox" id="check__menu">
                <label for="check__menu">
                    <i class="fa-solid fa-bars icon__menu"></i>
                </label>
                <nav>
                    <ul>
                        <li><a href="{{ url_for('menu') }}" id="selected"></a></li>
                        <li><a href="{{ url_for('listar_casos_ex') }}">Casos</a>
                                                
                        </li>
                        <li><a href="{{ url_for('listar_tareas') }}">Tareas</a>
                        </li>
                        <li><a href="{{ url_for('listar_notificaciones') }}">Recordatorios</a>
                        </li>
                        <li><a href="{{ url_for('listar_clientes') }}">Clientes</a>
                            <ul>
                                <li><a href="{{ url_for('consultar_clientes') }}">Consulta de cliente</a></li>
                            </ul>
                        </li>
                        <li><a href="{{ url_for('logout') }}">Cerrar Sesion</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
        
    </header>
    
    <main>
        {% block content %}{% endblock %}
        
    </main>
    
</body>
</html>