{% extends '/menu.html' %}
{% block title %}Página de Inicio{% endblock %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registro de Area</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/registro_area.css') }}">
</head>
<body>
    <h1>Registrar Area</h1>
            <form class="form-registro" method="POST" action="/registro_area">
                <label for="nombre">Nombre:</label>
                <input type="text" id="nombre" name="nombre" required><br>

                <label for="descripcion">Descripcion:</label>
                <input type="text" id="descripcion" name="descripcion" required><br>

                <input type="submit" value="Registrar">
            </form>
</body>
</html>
{% endblock %}